<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/home' ? 'active' : '' %>" href="/home">Home</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/users' ? 'active' : '' %>" href="/users">Users</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/projects' ? 'active' : '' %>" href="/projects">Projects</a>
            </li>
        </ul>
        <ul class="main-header__item-list">
            
        </ul>
    </nav>
</header>
