<%- include('../includes/head.ejs') %>
    
</head>

<body>
    <%- include('../includes/navigation.ejs', {role: mainUser.role}) %>
    <main>
        <h3>Hello <%= mainUser.name%></h3>
        <h4>Welcome to the backoffice</h4>
    </main>
</body>
